body {
  background-color: #f2f2f2;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
}
li {
  list-style: none;
}
.about-top {
  background: url("/css/images/about-bg.jpg") center no-repeat;
}
#main {
  background-image: url("/css/images/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 315px;
}
#main .banner-info {
  color: #fff;
  font-size: 36px;
  font-family: "Sentinel SSm A", "Sentinel SSm B", serif;
  text-transform: initial;
  letter-spacing: 0.06em;
  font-weight: 300;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 128px;
}
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
  color: #404040;
}
.header .header-wrap {
  width: 1200px;
  margin: 0 auto;
}
.header .header-wrap .navbar {
  float: right;
}
.header .header-wrap .blog-title {
  height: 60px;
  float: left;
}
.header .header-wrap .blog-title .logo {
  color: #aaa;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
  float: left;
}
.header .header-wrap .blog-title .logo img {
  vertical-align: middle;
  margin-top: 13px;
}
.header .header-wrap .menu {
  margin: 0;
  padding: 0;
}
.header .header-wrap .menu .menu-item {
  margin-right: 10px;
  display: inline-block;
  line-height: 60px;
  padding: 0 15px;
}
.header .header-wrap .menu .menu-item-link {
  color: #4f4f4f;
  text-decoration: none;
}
.header .header-wrap .menu .menu-item-link:hover {
  color: #368ccb;
}
.post {
  margin: 1em auto;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
